div{
    width: 500px;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

p {
    text-indent: 50px; /* usado para hacer sangria */
    letter-spacing: 1.3px; /* usado para darle espaciado a las letras */
    line-height: 1.5; /* espaciado entre lineas */
    word-spacing: 3px; /* espaciado entre letras */

}



.serif{
    font-family: 'Times New Roman', Times, serif;
}
.sans-serif{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.monospace{
    font-family: 'Courier New', Courier, monospace ;
}
.cursive{
    font-family: 'lucida handwriting', cursiva ;
}
.fantasy{
    font-family: 'copperplate', cursive;
}

.style{
    font-style: italic;
}


/*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maquetacion web</title>
    <link rel="stylesheet" href="Style6_fuentes.css">


</head>

<body>
    
    <h1>Formateo de texto</h1>


    <h2>Fuentes</h2>

    <h4 class="serif style">Serif</h4> <!--Time new roman, Georgia, Garamont, etc-->
    <h4 class="sans-serif style">Sans-Serif</h4> <!--Arial, verdana, helvetica, etc-->
    <h4 class="monospace style">Monospace</h4> <!--courier new, lucida, monaco etc-->
    <h4 class="cursive style">Cursive</h4> <!-- brush, lucida handwriting etc-->
    <h4 class="fantasy style">Fantasy</h4> <!-- copperplate, papirus, etc-->

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde necessitatibus dolorem eum debitis, velit ex maiores voluptas possimus, quo qui architecto quam cupiditate quos, harum eligendi libero. Magnam, numquam totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere fuga illo ab! Voluptatibus, nulla et? Fugit, minus repellat veritatis commodi accusantium eos, temporibus eligendi, exercitationem nostrum quibusdam expedita cupiditate soluta? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores expedita laborum placeat, molestiae quia minus aut esse velit non nemo reiciendis exercitationem tempore quam laudantium quos provident architecto nobis sed.</p>
    </div>


</body>
</html>
*/