/* Colores/ color_name */
body{
    background-image: url(ac5152b9f7f50781b2b01e35463fc4e6.jpg);
    background-repeat: no-repeat; /*para que no repita la imagen*/
    background-position: right top; /*colocar la imagen en la posicion de arriba derecho*/
    background-attachment: fixed; /*quede estatica la imagen*/
    background-size: cover; /*para cubrir toda la pagina con la imagen*/

}

p{
    color: rgb(204, 255, 0);
    background-image: black;
}
h1{
    color: firebrick;
    background-color: black;
}

h4{
    color: rgb(1, 1, 255);
    background-color: rgba(0.5, 78, 25);
}

/*
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maquetacion web</title>
    <link rel="stylesheet" href="Style10_Colores.css">


 
</head>

<body>
    
    <h1>Colores</h1>

    <h1>Este es un titulo</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus magni error facilis magnam cupiditate! Commodi voluptates tempore nobis debitis earum. Sit modi minima neque blanditiis libero, vero aut repellendus eaque.</p>


</body>
</html> 
*/